@using Re.Core.Models
@using Re.UI.Data

<MudGrid Justify="Justify.FlexStart" style="margin-top: 15px;">
    <MudItem>
        <MudDatePicker style="width: 150px;" Label="Дата"  @bind-Date="date"/>
    </MudItem>
    <MudItem>
        <MudTimePicker style="width: 150px;" Label="Время"  @bind-Time="time"/>
    </MudItem>
</MudGrid>

<MudGrid>

    <MudItem xs="8">
    
        @* Опциональная вкладка "Пациент доставлен в ...." *@
        @if(Basic_CheckBox1 == true)
        {
            <Re.UI.Pages.Components.Drugs.Puspose.Drugs_Purpose_Patient />

        }
        @* Опциональная вкладка "Синдро ВАШ..." *@
        @if(Basic_CheckBox2 == true)
        {
            <Re.UI.Pages.Components.Drugs.Puspose.Drugs_Purpose_Syndrom />
        }
        
    </MudItem>

    <MudItem xs="4">

        <MudGrid Style="position: sticky; top: 100px; right: 50px">
            <MudItem xs="2">
                <MudCheckBox style="width: 150px;" @bind-Checked="@Basic_CheckBox1" Color="Color.Primary"><span>Пациент</span></MudCheckBox>
            </MudItem>
        </MudGrid>

        <MudGrid Style="position: sticky; top: 100px; right: 50px">
            <MudItem xs="2">
                <MudCheckBox style="width: 150px;" @bind-Checked="@Basic_CheckBox2" Color="Color.Primary"><span>Синдром</span></MudCheckBox>
            </MudItem>
        </MudGrid>

    </MudItem>
</MudGrid>

    


@code{

    Syndrom? syndrom;
    Patient? patient;
    DateTime? date = DateTime.Now;
    TimeSpan? time = DateTime.Now.TimeOfDay;


     public bool Basic_CheckBox1 { get; set; } = false;
    public bool Basic_CheckBox2 { get; set; } = false;

}