@using Re.Core.Models
@using Re.Core.Models.Hemo;
@using Re.UI.Data

<MudGrid>
    <MudGrid Style="margin-top:20px; margin-left:20px">
        <MudRadioGroup @bind-SelectedOption="@SelectedOption" Disabled="Disabled">
            <MudGrid>
                <MudRadio Option="@("Erythrocyte")">Эритроциты</MudRadio>
            </MudGrid>
            <MudGrid>
                <MudRadio Option="@("SZP")">СЗП</MudRadio>
            </MudGrid>
            <MudGrid>
                <MudRadio Option="@("Trombocyte")">Тромбоциты</MudRadio>
            </MudGrid>
        </MudRadioGroup>
       
        @if (SelectedOption == "Erythrocyte")
        {
            <Erythrocyte />
        }
        else if (SelectedOption == "SZP")
        {
            <SZP />
        }
        else if (SelectedOption == "Trombocyte")
        {
            <Thrombocyte />
        }
    </MudGrid>
    <MudGrid>
        <MudItem xs="12">
            <MudLink Href="https://dokipedia.ru/document/5195465?pid=2" Target="_blank" Style="display: flex; flex-direction: column; align-items: center; margin-top:70px; margin-left:105px; background:white; border-radius:10px;">
                <div>Приказ Министерства здравоохранения РФ от 2 апреля 2013 г. N 183н "Об утверждении правил клинического использования</div>
                <div>донорской крови и (или) ее компонентов" (Докипедия: Приказ Министерства здравоохранения РФ от 2 апреля 2013 г. N 183н "Об</div>
                <div>утверждении правил клинического использования донорской крови и (или) ее компонентов")</div>
            </MudLink>
        </MudItem>
    </MudGrid>
</MudGrid>

@code {
    HemoProtocol? hp = new();
    string SelectedOption = "Erythrocyte";
}